@model Autopark.Models.LoginViewModel

<h2>Login</h2>
<form asp-action="Login" method="post">
    <input asp-for="Username" placeholder="Username" class="form-control" />
    <input asp-for="Password" placeholder="Password" type="password" class="form-control" />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
